Description=Runs the formant jetbot adapter

[Service]
Type=simple
ExecStart=/home/jetbot/formant-jetbot-adapter/start.sh
WorkingDirectory=/home/jetbot
Restart=always

[Install]
WantedBy=multi-user.target